protobuf<5.0.0dev
google-cloud-aiplatform>=1.38.0
fastapi
uvicorn[standard]
google-cloud-bigquery

google-cloud-firestore
pydantic-settings
python-dotenv
firebase-admin
google-cloud-pipeline-components
kfp
google-cloud-storage
tensorflow>=2.14.0
tensorflow-recommenders>=0.7.3

# OpenTelemetry for Google Cloud Trace
# opentelemetry-api==1.39.1
# opentelemetry-sdk==1.39.1
# opentelemetry-instrumentation-fastapi==0.60b1
# opentelemetry-instrumentation-logging==0.60b1
# opentelemetry-exporter-google-cloud==0.18b1
# opentelemetry-instrumentation-requests==0.60b1
google-cloud-texttospeech
google-cloud-pubsub
redis
langchain
langgraph
langchain-google-vertexai
langchain-core
langchain-community
